In [1]:
#library---->libraries will have set of functions,buit in functions which is reusable
import math
import scipy

In [5]:
import pandas as pd

In [9]:
#pandas---->pandas is very powerful library for data analysis
#pandas--->panel data analysis(PANEL DATA)
#u can manipulate easily and open source

In [13]:
data=pd.read_csv("C:\\Users\\tuppa\\Downloads\\car_data.csv")  #loading data

In [19]:
data.head(5)  #displaying first 5 records

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual

In [21]:
data.tail(5)   #displaying last 5 records

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission
296,city,2016,9.50,11.6,33988,Diesel,Dealer,Manual
297,brio,2015,4.00,5.9,60000,Petrol,Dealer,Manual
298,city,2009,3.35,11.0,87934,Petrol,Dealer,Manual
299,city,2017,11.50,12.5,9000,Diesel,Dealer,Manual
300,brio,2016,5.30,5.9,5464,Petrol,Dealer,Manual

In [27]:
data.shape  #total numbers of rows and columns 301-rows,8-columns

(301, 8)

In [33]:
print("The given dataset has:" ,data.shape[0], "rows")

The given dataset has: 301 rows

In [35]:
print("The given dataset has:" ,data.shape[1], "columns")

The given dataset has: 8 columns

In [39]:
type(data)   #--->dataframe

pandas.core.frame.DataFrame

In [41]:
#dataframe---->2d tabular form(columns and rows),it is similar to sql table or spreadsheet

In [43]:
data.columns

Index(['Car_Name', 'Year', 'Selling_Price', 'Present_Price', 'Kms_Driven',
       'Fuel_Type', 'Seller_Type', 'Transmission'],
      dtype='object')

In [45]:
list(data.columns)

['Car_Name',
 'Year',
 'Selling_Price',
 'Present_Price',
 'Kms_Driven',
 'Fuel_Type',
 'Seller_Type',
 'Transmission']

In [47]:
data.dtypes

Car_Name          object
Year               int64
Selling_Price    float64
Present_Price    float64
Kms_Driven         int64
Fuel_Type         object
Seller_Type       object
Transmission      object
dtype: object

In [49]:
#select * from table limit 5;--------------->data.head(5)

In [65]:
#select Car_Name,Year,Kms_Driven From car_data limit 5----------->Selecting particular columns

In [67]:
data.head(5) #selecting all columns

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual

In [71]:
data[["Car_Name","Year","Kms_Driven"]].head(5)   #select Car_Name,Year,Kms_Driven From car_data limit 5----------->Selecting particular columns

  Car_Name  Year  Kms_Driven
0     ritz  2014       27000
1      sx4  2013       43000
2     ciaz  2017        6900
3  wagon r  2011        5200
4    swift  2014       42450

In [73]:
#i want to see only 2014 cars

In [75]:
#select * from car_data where Year=2014 LIMIT 5

In [118]:
data[data["Year"]==2014].head(5)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual
23,alto k10,2014,2.50,3.46,45280,Petrol,Dealer,Manual
32,swift,2014,4.95,7.49,39000,Diesel,Dealer,Manual
33,ertiga,2014,6.00,9.95,45000,Diesel,Dealer,Manual

In [120]:
data[data["Fuel_Type"]=="Petrol"].head(6)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual
6,ciaz,2015,6.75,8.12,18796,Petrol,Dealer,Manual
10,alto 800,2017,2.85,3.60,2135,Petrol,Dealer,Manual
12,ciaz,2015,7.50,9.94,15000,Petrol,Dealer,Automatic

In [97]:
data[data["Kms_Driven"]<10000].head(5)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual
5,vitara brezza,2018,9.25,9.83,2071,Diesel,Dealer,Manual
10,alto 800,2017,2.85,3.60,2135,Petrol,Dealer,Manual
21,ignis,2017,4.90,5.71,2400,Petrol,Dealer,Manual

In [102]:
#another way

In [123]:
data[data.Year == 2014].head(5)   #data[data["Year"]==2014].head(5)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual
23,alto k10,2014,2.50,3.46,45280,Petrol,Dealer,Manual
32,swift,2014,4.95,7.49,39000,Diesel,Dealer,Manual
33,ertiga,2014,6.00,9.95,45000,Diesel,Dealer,Manual

In [125]:
#2014 petrol cars -->select * from car_data where Year=2014 and Fuel_Type="Petrol"

In [127]:
data[(data["Year"]==2014) & (data["Fuel_Type"]=="Petrol")].head(5)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual
23,alto k10,2014,2.50,3.46,45280,Petrol,Dealer,Manual
41,alto k10,2014,2.55,3.98,46706,Petrol,Dealer,Manual
45,ciaz,2014,7.50,12.04,15000,Petrol,Dealer,Automatic
58,etios g,2014,4.10,6.80,39485,Petrol,Dealer,Manual

In [129]:
#2014,Petrol,Kms_Driven<10000

In [131]:
data[(data["Year"]==2014) & (data["Fuel_Type"]=="Petrol") & (data["Kms_Driven"]<10000)].head(5)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission
112,KTM 390 Duke,2014,1.15,2.40,7000,Petrol,Individual,Manual
154,Yamaha Fazer,2014,0.50,0.88,8000,Petrol,Individual,Manual

In [135]:
data[['Fuel_Type']].head(10)

  Fuel_Type
0    Petrol
1    Diesel
2    Petrol
3    Petrol
4    Diesel
5    Diesel
6    Petrol
7    Diesel
8    Diesel
9    Diesel

In [138]:
data['Fuel_Type'].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [140]:
data['Fuel_Type'].nunique()

3

In [142]:
data['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [144]:
data['Transmission'].nunique()

2

In [ ]:
#can u use distinct function in dataframe(like what u used in sql)